<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900|Material+Icons'>
    <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/quasar@1.13.2/dist/quasar.min.css'>
</head>
<body translate="no" >

    <h5>Flask-SocketIO Test</h5>
    <p>Async mode is: <b>{{ async_mode }}</b></p>
    <p>Average ping/pong latency: <b><span id="ping-pong"></span>ms</b></p>
    <h6>Send:</h6>

    <form id="emit" method="POST" action='#'>
        <input type="text" name="emit_data" id="emit_data" placeholder="Message">
        <input type="submit" value="Echo">
    </form>

    <div id="q-app">
        (| ioObj.lab |)

        <!--
        (| trig |)
        <button onclick="myFct()"> allo </button> -->

        <div class="q-pa-md q-gutter-sm">
            <q-btn color="white" text-color="black" label="Standard " @click="ioObj.show=!ioObj.show"></q-btn>
            <q-btn color="black" label="fdsa" v-if="trig.show" ></q-btn>

        </div>
    </div>


    <h6>Receive:</h6>
    <div id="log"></div>

<script src='https://cdn.jsdelivr.net/npm/vue/dist/vue.js'></script>
<script src='https://cdn.jsdelivr.net/npm/quasar@1.13.2/dist/quasar.umd.min.js'></script>
<script src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" ></script>
<script src="static/nacl_alex.js"></script>
<script>
    var socket;

    $(document).ready(function() {
        namespace = '/test';
        socket = io(namespace);

        pyVue.canTrigger = true;

        function sendJS() {
            console.log('sendJS called');
            //socket.emit('inJS', ioObj);
            //return false;
        };

        socket.on('sendPy', function(msg, cb) {
            pyVue.ioObj = msg;
            console.log(`sendPy says ${JSON.stringify(msg)} \n\nwith cb ${cb}`);
            pyVue.canTrigger = true;
        });
    })

    // need to declare io with keys ts, tk, rs, rk
    ioObj = {
        _triggers: ['show','lab'],
        _senders: [],

        show: true,
        lab: 'black button'
    };



    // this can be anything
    function myFct() {
        console.log('a');
        ioObj.show = true;
    }


    // this to be in a separate asset JS file
    pyVue = new Vue({
        el: '#q-app',
        delimiters: ['(|', '|)'],

        data () {
            return {
                ioObj: ioObj,
                canTrigger: false,
                lastHash: ''
            }
        },


        computed: {
            trig: function (val) {

                const filtered = Object.keys(ioObj)
                    .filter(key => ioObj._triggers.includes(key))
                    .reduce((obj, key) => {
                        return {
                          ...obj,
                          [key]: ioObj[key]
                        };
                    }, {});

                console.log(filtered);
                console.log(`i am ready: ${this.canTrigger}`)

                if (this.canTrigger) {

                    var hash = '';
                    var ezNaCl = new ezNaClWrapper();
                    hash = ezNaCl.uintBase64(ezNaCl.sha512(ezNaCl.strUint(JSON.stringify(this.ioObj))));
                    console.log(hash);

                    if (this.lastHash != hash){
                        this.lastHash = hash;
                        socket.emit('inJS', this.ioObj);
                        console.log('socket emited')
                        this.canTrigger = false;
                    } else {
                        console.log('socket no emit')
                    }


                }
                //sendJS();

                return filtered;
            }
        },

        methods: {
            ioTrigger () {
            }
        }

    });

</script>
</body>
</html>

